ESP 8266 Arduino codes/Nodered/EnvMonFlow1.json
[
    {
        "id": "1b1de6ab.05b779",
        "type": "tab",
        "label": "Env mon server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4d9ad4.244fe5",
        "type": "mqtt in",
        "z": "1b1de6ab.05b779",
        "name": "IoT data",
        "topic": "iot/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "6521c3f4.820774",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "a6c8bd25.10b108"
            ]
        ]
    },
    {
        "id": "90081dc8.8b25e",
        "type": "json",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "59682174.0a3b78",
                "b12c2cbd.cad9c8"
            ]
        ]
    },
    {
        "id": "59682174.0a3b78",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Graph preparation",
        "func": "return [\n    {topic:\"temperaure\", payload:msg.payload.temperature}, \n    {topic:\"humidity\", payload:msg.payload.humidity}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];",
        "outputs": 3,
        "noerr": 0,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "1996a4af.717da3"
            ],
            [
                "40ae2a9c.750a9c"
            ],
            [
                "96efb221.998cd"
            ]
        ],
        "outputLabels": [
            "temperaure",
            "humidity",
            "airQuality"
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "b12c2cbd.cad9c8",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "Aggragate",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "12",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "9de54ead.7b518"
            ]
        ]
    },
    {
        "id": "9de54ead.7b518",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Mean",
        "func": "var data = msg.payload;\nvar temp = 0.0;\nvar hum = 0.0;\nvar airQ = 0;\nfor(var i = 0; i<data.length; i++){\n    temp+=data[i].temperature;\n    hum+=data[i].humidity;\n    airQ+=data[i].airQuality;\n}\n\ntemp = parseFloat((temp/data.length).toFixed(2));\nhum = parseFloat((hum/data.length).toFixed(2));\nairQ = parseInt(airQ/data.length);\nmsg.payload = {\n    temperature:temp,\n    humidity:hum,\n    airQuality:airQ\n}\nmsg.measurement = \"param1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "8a30711.c9aa61"
            ]
        ]
    },
    {
        "id": "8c8256aa.2b1dd",
        "type": "influxdb out",
        "z": "1b1de6ab.05b779",
        "influxdb": "703fa4a0.405964",
        "name": "InfluxDB",
        "measurement": "param1",
        "precision": "",
        "retentionPolicy": "",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "a6c8bd25.10b108",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "iot/zone1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iot/zone2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iot/zone3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "iot/connection/#",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "90081dc8.8b25e",
                "64bf2f16.1c648"
            ],
            [
                "48320ca0.16f734",
                "862348a2.5684c8"
            ],
            [
                "faa04358.7723b8",
                "e2ecdcf.485d12"
            ],
            [
                "7d8796d9.353ad8"
            ]
        ]
    },
    {
        "id": "96efb221.998cd",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Air quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "{{min}}",
        "seg2": "{{max}}",
        "x": 1041,
        "y": 140,
        "wires": []
    },
    {
        "id": "40ae2a9c.750a9c",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%R",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "{{min}}",
        "seg2": "{{max}}",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "1996a4af.717da3",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "{{msg.payload}}",
        "seg2": "16",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "48320ca0.16f734",
        "type": "json",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "c6c156f7.04418",
                "cee47cee.a63c"
            ]
        ]
    },
    {
        "id": "c6c156f7.04418",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Graph preparation",
        "func": "return [\n    {topic:\"temperaure\", payload:msg.payload.temperature}, \n    {topic:\"humidity\", payload:msg.payload.humidity}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];",
        "outputs": 3,
        "noerr": 0,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "97c1d6cc.217e58"
            ],
            [
                "acf7ee1d.b34a48"
            ],
            [
                "c6834a62.cb177"
            ]
        ],
        "outputLabels": [
            "temperaure",
            "humidity",
            "airQuality"
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "cee47cee.a63c",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "Aggragate",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "12",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "2e24e627.dae392"
            ]
        ]
    },
    {
        "id": "2e24e627.dae392",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Mean",
        "func": "var data = msg.payload;\nvar temp = 0.0;\nvar hum = 0.0;\nvar airQ = 0;\nfor(var i = 0; i<data.length; i++){\n    temp+=data[i].temperature;\n    hum+=data[i].humidity;\n    airQ+=data[i].airQuality;\n}\n\ntemp = parseFloat((temp/data.length).toFixed(2));\nhum = parseFloat((hum/data.length).toFixed(2));\nairQ = parseInt(airQ/data.length);\nmsg.payload = {\n    temperature:temp,\n    humidity:hum,\n    airQuality:airQ\n}\nmsg.measurement = \"param2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 380,
        "wires": [
            [
                "5d7537e5.5b192"
            ]
        ]
    },
    {
        "id": "c6834a62.cb177",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 4,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Air quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "acf7ee1d.b34a48",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 6,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%R",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1029,
        "y": 280,
        "wires": []
    },
    {
        "id": "97c1d6cc.217e58",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 5,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1039,
        "y": 240,
        "wires": []
    },
    {
        "id": "faa04358.7723b8",
        "type": "json",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "4cab5330.26ee34",
                "bec08d0b.e8fae8"
            ]
        ]
    },
    {
        "id": "4cab5330.26ee34",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Graph preparation",
        "func": "return [\n    {topic:\"radiation\", payload:msg.payload.radiation}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 540,
        "wires": [
            [],
            [
                "d559b692.6b22a8"
            ]
        ],
        "outputLabels": [
            "radiation",
            "airQuality"
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "bec08d0b.e8fae8",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "Aggragate",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "12",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "937303f.06cac"
            ]
        ]
    },
    {
        "id": "937303f.06cac",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Mean",
        "func": "var data = msg.payload;\nvar rad = 0;\nvar airQ = 0;\nfor(var i = 0; i<data.length; i++){\n    rad+=data[i].radiation;\n    airQ+=data[i].airQuality;\n}\n\nairQ = airQ/data.length;\nmsg.payload = {\n    radiation:parseInt(rad),\n    airQuality:parseInt(airQ)\n}\nmsg.measurement = \"param3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c81773b6.bb59c",
                "f454b2ab.fe9fa8"
            ]
        ]
    },
    {
        "id": "d559b692.6b22a8",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 8,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Air quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "acfa7c76.e1ad3",
        "type": "ui_gauge",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 9,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Radiation",
        "label": "cpm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 460,
        "wires": []
    },
    {
        "id": "2f46c65a.f7e04a",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Thresholds",
        "func": "var minimum = 200;\nvar maximum = 400;\nif(msg.topic === \"broker/connection3\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { ui_control:{seg1:200, seg2:500}},\n    { ui_control:{seg1:600, seg2:1200}}\n    ];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "acfa7c76.e1ad3"
            ],
            [
                "d559b692.6b22a8"
            ]
        ]
    },
    {
        "id": "c756aea1.3eea8",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "2f46c65a.f7e04a"
            ]
        ]
    },
    {
        "id": "e682c9ea.bb042",
        "type": "ui_chart",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 11,
        "width": 25,
        "height": 8,
        "label": "{{msg.title}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "cubic",
        "nodata": "No data found",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff0000",
            "#8f33a4",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1130,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "8f5f8495.6256b8",
        "type": "ui_button",
        "z": "1b1de6ab.05b779",
        "name": "Réinitialisation",
        "group": "1236256a.ae826b",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "71e03166.b65c5",
                "f83d66bf.39ac48"
            ]
        ]
    },
    {
        "id": "9384a6f4.9823a",
        "type": "ui_button",
        "z": "1b1de6ab.05b779",
        "name": "Navigation en avant",
        "group": "1236256a.ae826b",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "next",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "4f0ace23.2e5c48",
        "type": "ui_button",
        "z": "1b1de6ab.05b779",
        "name": "Navigation en arrière",
        "group": "1236256a.ae826b",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "back",
        "x": 300,
        "y": 860,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "1f1641a6.ab9aae",
        "type": "ui_dropdown",
        "z": "1b1de6ab.05b779",
        "name": "Selection du type de navigation",
        "label": "",
        "tooltip": "",
        "place": "Navigation [Select option]",
        "group": "1236256a.ae826b",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Navigate by 1h",
                "value": 3600000,
                "type": "num"
            },
            {
                "label": "Navigate by 2h",
                "value": 7200000,
                "type": "num"
            },
            {
                "label": "Navigate by 6h",
                "value": 21600000,
                "type": "num"
            },
            {
                "label": "Navigate by 12h",
                "value": 43200000,
                "type": "num"
            },
            {
                "label": "Navigate by 1 day",
                "value": 86400000,
                "type": "num"
            },
            {
                "label": "Navigate by 2 day",
                "value": 172800000,
                "type": "num"
            },
            {
                "label": "Navigate by 4 day",
                "value": 345600000,
                "type": "num"
            },
            {
                "label": "Navigate by 1 week",
                "value": 604800000,
                "type": "num"
            },
            {
                "label": "Navigate by 1 month",
                "value": 2592000000,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "navigationType",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "bc5671c9.74221",
        "type": "ui_dropdown",
        "z": "1b1de6ab.05b779",
        "name": "Selection du type de regroupement",
        "label": "",
        "tooltip": "",
        "place": "Group by [Select option]",
        "group": "1236256a.ae826b",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Group by 1mn",
                "value": "1m",
                "type": "str"
            },
            {
                "label": "Group by 5mn",
                "value": "5m",
                "type": "str"
            },
            {
                "label": "Group by 10mn",
                "value": "10m",
                "type": "str"
            },
            {
                "label": "Group by 15mn",
                "value": "15m",
                "type": "str"
            },
            {
                "label": "Group by 30mn",
                "value": "30m",
                "type": "str"
            },
            {
                "label": "Group by 1h",
                "value": "1h",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "groupType",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "5228aa02.e9278c",
        "type": "ui_dropdown",
        "z": "1b1de6ab.05b779",
        "name": "Selection du type de paramètres",
        "label": "",
        "tooltip": "",
        "place": "Data type [Select option]",
        "group": "1236256a.ae826b",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Zone 1",
                "value": "param1",
                "type": "str"
            },
            {
                "label": "Zone 2",
                "value": "param2",
                "type": "str"
            },
            {
                "label": "Zone 3",
                "value": "param3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "paramType",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "71e03166.b65c5",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Mise en form de la requête",
        "func": "var hour = 60*60*1000;\nvar day = 24*hour;\nvar dataType = \"\";\nvar groupBy = \"\";\nvar navigateBy = 0;\nvar fromDate = 0;\nvar toDate = 0;\nvar save = \"\";\nvar title = \"\";\n\ndataType = context.get(\"dataType\");\nif (dataType===undefined) {\n    dataType = \"param1\";\n    context.set(\"dataType\",dataType);\n}\n\ngroupBy = context.get(\"groupBy\");\nif (groupBy===undefined) {\n    groupBy = \"1m\";\n    context.set(\"groupBy\",groupBy);\n}\n\nnavigateBy = context.get(\"navigateBy\")\nif (navigateBy===undefined) {\n    navigateBy = 2*hour;\n    context.set(\"navigateBy\",navigateBy);\n}\n\nfromDate = context.get(\"fromDate\");\nif (fromDate===undefined) {\n    fromDate = new Date().getTime() - 2*hour\n    context.set(\"fromDate\",fromDate);\n}\n\ntoDate = context.get(\"toDate\");\nif (toDate===undefined) {\n    toDate = new Date().getTime();\n    context.set(\"toDate\",toDate);\n}\n\nswitch(msg.topic){\n    case \"paramType\":\n        dataType = msg.payload;\n        context.set(\"dataType\",dataType);\n    break;\n    case \"groupType\":\n        groupBy = msg.payload;\n        context.set(\"groupBy\",groupBy);\n    break;\n    case \"navigationType\":\n        navigateBy = msg.payload;\n        context.set(\"navigateBy\",navigateBy);\n        fromDate = Number(toDate) - Number(navigateBy);\n        context.set(\"fromDate\",fromDate);\n    break;\n    case \"back\":\n        toDate = fromDate;\n        context.set(\"toDate\",toDate);\n        fromDate = Number(toDate) - Number(navigateBy);\n        context.set(\"fromDate\",fromDate);\n    break;\n    case \"next\":\n        fromDate = toDate;\n        context.set(\"fromDate\", fromDate);\n        toDate = Number(fromDate) + Number(navigateBy);\n        context.set(\"toDate\", toDate);\n    break;\n    case \"reset\":\n        var today0h = new Date().setHours(0,0,0,0);\n        fromDate = today0h;\n        context.set(\"fromDate\",fromDate);\n        toDate = today0h + day;\n        context.set(\"toDate\",toDate);\n        msg.fromNow = fromDate;\n        msg.toNow = toDate;\n    break;\n    case \"from\":\n        fromDate = msg.payload;\n        context.set(\"fromDate\",fromDate);\n    break;\n    case \"to\":\n        toDate = msg.payload;\n        context.set(\"toDate\",toDate);\n    break;\n    case \"save\":\n        save = \"save\";\n    break;\n}\n\nvar dt = \"\";\nswitch(dataType){\n    case \"param1\": dt = \"Zone 1\";\n    break;\n    case \"param2\": dt = \"Zone 2\";\n    break;\n    case \"param3\": dt = \"Zone 3\";\n}\n\n var d = new Date();\n    d.setTime(fromDate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    title = dt+ \": from \" + hh +\":\" +mmm +\"  \"+ dd + \"/\" + mm + \"/\" + yyyy + \"  -  \";\n    d.setTime(toDate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    title = title + \"To \" + hh +\":\" +mmm +\"  \"+ dd + \"/\" + mm + \"/\" + yyyy;\n\n//node.status({fill:\"yellow\",shape:\"ring\",text:title + \" navigateBy: \" + navigateBy + \" groupBy: \" + groupBy + \" dataType: \" + dataType});\n\nmsg.topic = dataType;\nmsg.save = save;\nmsg.title = title;\n\nmsg.query = \"select mean(*) from \" + dataType + \" where time>=\"+fromDate+\"ms and time<\"+toDate+\"ms group by time(\" + groupBy+ \") fill(none)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 860,
        "wires": [
            [
                "4faab45c.6f71bc"
            ]
        ]
    },
    {
        "id": "414541ba.6d47b",
        "type": "influxdb in",
        "z": "1b1de6ab.05b779",
        "influxdb": "703fa4a0.405964",
        "name": "InfluxDB",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "6afaf05c.38c1b8"
            ]
        ]
    },
    {
        "id": "b4fc1f5d.57ca08",
        "type": "mqtt in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "topic": "android/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "6521c3f4.820774",
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "3ef0eba5.0b9adc"
            ]
        ]
    },
    {
        "id": "102710a3.c778d7",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Mise en form de la requête",
        "func": "var androidID = msg.payload[1];\n\nvar fromDate = new Date(msg.data[3], Number(msg.data[2]) - 1, msg.data[1], msg.data[0]).getTime()\nvar toDate = new Date(msg.data[7], Number(msg.data[6]) - 1, msg.data[5], msg.data[4]).getTime()\nvar dataType = \"\"\nvar topic1 = \"android/\"+androidID+\"/params1\";\nvar topic2 = \"android/\"+androidID+\"/params2\";\nvar topic3 = \"android/\"+androidID+\"/params3\";\nswitch(msg.topic){\n    case topic1:{\n        dataType = \"param1\"\n    }\n    break\n    case topic2:{\n        dataType = \"param2\"\n    }\n    break\n    case topic3:{\n        dataType = \"param3\"\n    }\n    break\n}\n\nmsg.androidID = androidID;\n\nmsg.query = \"select mean(*) from \" + dataType + \" where time>=\"+fromDate+\"ms and time<\"+toDate+\"ms group by time(\" + msg.data[8]+ \") fill(none)\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "414541ba.6d47b"
            ]
        ]
    },
    {
        "id": "cf69532.51be9b",
        "type": "mqtt out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6521c3f4.820774",
        "x": 1090,
        "y": 1220,
        "wires": []
    },
    {
        "id": "4faab45c.6f71bc",
        "type": "influxdb in",
        "z": "1b1de6ab.05b779",
        "influxdb": "703fa4a0.405964",
        "name": "InfluxDB",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "d549cd6a.bbbe08"
            ]
        ]
    },
    {
        "id": "533a0bcb.9d00fc",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "android/params1",
        "payload": "15/8/8/2020/16/8/8/2020/1m",
        "payloadType": "str",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "1d541c73.101654"
            ]
        ]
    },
    {
        "id": "6afaf05c.38c1b8",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Change time format",
        "func": "\nvar data = [];\nvar androidID = msg.androidID;\n\nswitch(msg.topic){\n    case \"android/\"+androidID+\"/params1\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params1\";\n    }\n    break\n    case \"android/\"+androidID+\"/params2\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params2\";\n    }\n    break\n    case \"android/\"+androidID+\"/params3\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                radiation : msg.payload[i].mean_radiation,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params3\";\n    }\n    break\n}\n\nif(data.length===0) msg.payload = \"empty\"\nelse msg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1220,
        "wires": [
            [
                "20afee14.3126b2"
            ]
        ]
    },
    {
        "id": "1d541c73.101654",
        "type": "split",
        "z": "1b1de6ab.05b779",
        "name": "",
        "splt": "/",
        "spltType": "str",
        "arraySplt": "9",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "821f96b8.1c2e28"
            ]
        ]
    },
    {
        "id": "821f96b8.1c2e28",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "469657fa.ae6d9"
            ]
        ]
    },
    {
        "id": "20afee14.3126b2",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "empty",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 1220,
        "wires": [
            [
                "cf69532.51be9b"
            ],
            []
        ]
    },
    {
        "id": "d549cd6a.bbbe08",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Change time format",
        "func": "\nvar data = []\n\nswitch(msg.topic){\n    case \"param1\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n    case \"param2\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n    case \"param3\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                radiation : msg.payload[i].mean_radiation,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n}\n\nif(data.length===0) msg.payload = \"empty\"\nelse msg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 700,
        "wires": [
            [
                "510a6089.b4948",
                "b628cfd4.27bb38"
            ]
        ]
    },
    {
        "id": "510a6089.b4948",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "var msg2 = [];\n\nvar temperature = [];\nvar humidity = [];\nvar airQuality = [];\nvar radiation = [];\n\nvar points = msg.payload.length - 5;\nif(points<0) points = 0;\n\nvar maxTemp = 0;\nvar maxAirQ = 0;\nvar maxHum = 0;\nvar maxRad = 0;\n\nif(msg.payload === \"empty\"){\n    \n}\nelse{\n    if(msg.topic === \"param3\"){\n        maxRad = msg.payload[0].radiation;\n        maxAirQ = msg.payload[0].airQuality;\n    for (var i=0; i<msg.payload.length; i++) {\n        maxRad = Math.max(maxRad, msg.payload[i].radiation);\n        maxAirQ = Math.max(maxAirQ, msg.payload[i].airQuality);\n        radiation.push([msg.payload[i].time, msg.payload[i].radiation]);\n        airQuality.push([msg.payload[i].time, msg.payload[i].airQuality]);\n    }\n    msg.title = msg.title + \" - Data points: \" + points + \"    RadMAX: \"+ parseInt(maxRad)+ \", AirQMAX: \"+ parseInt(maxAirQ);\n    msg2.push({ key: \"Air quality (ppm)\", values : airQuality});\n    msg2.push({ key: \"Radiation (cpm)\", values : radiation});\n}\nelse{\n    maxTemp = msg.payload[0].temperature;\n    maxHum = msg.payload[0].humidity;\n    maxAirQ = msg.payload[0].airQuality;\n    for (var j=0; j<msg.payload.length; j++) {\n        maxTemp = Math.max(maxTemp, msg.payload[j].temperature);\n        maxHum = Math.max(maxHum, msg.payload[j].humidity);\n        maxAirQ = Math.max(maxAirQ, msg.payload[j].airQuality);\n        temperature.push([msg.payload[j].time, msg.payload[j].temperature]);\n        humidity.push([msg.payload[j].time, msg.payload[j].humidity]);\n        airQuality.push([msg.payload[j].time, msg.payload[j].airQuality]);\n    }\n    msg.title = msg.title + \" - Data points: \" + points + \"    TempMAX: \"+ maxTemp.toFixed(1)+ \", HumMAX: \"+ maxHum.toFixed(1)+ \", AirQMAX: \"+ parseInt(maxAirQ);\n    msg2.push({ key: \"Air quality (ppm)\", values : airQuality});\n    msg2.push({ key: \"Temperature (°C)\", values : temperature});\n    msg2.push({ key: \"Humidity (%H)\", values : humidity});\n}\n}\n\nmsg.payload=msg2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 860,
        "wires": [
            [
                "e682c9ea.bb042"
            ]
        ]
    },
    {
        "id": "80c8a638.e5de88",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "fd04f5d9.aae618",
            "cf8a8ae2.069fb"
        ],
        "x": 715,
        "y": 420,
        "wires": [
            [
                "2f46c65a.f7e04a"
            ]
        ]
    },
    {
        "id": "a428e6a0.b3f9c",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "fd04f5d9.aae618",
            "cf8a8ae2.069fb"
        ],
        "x": 715,
        "y": 240,
        "wires": [
            [
                "d1c60939.f8e198"
            ]
        ]
    },
    {
        "id": "d1c60939.f8e198",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Thresholds",
        "func": "var minimum = 600;\nvar maximum = 1200;\nif(msg.topic === \"broker/connection2\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { ui_control:{seg1:28, seg2:35}},\n    { ui_control:{seg1:60, seg2:80}},\n    { ui_control:{seg1:minimum, seg2:maximum}}\n    ];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "97c1d6cc.217e58"
            ],
            [
                "acf7ee1d.b34a48"
            ],
            [
                "c6834a62.cb177"
            ]
        ]
    },
    {
        "id": "7e411236.e4ea0c",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "d1c60939.f8e198"
            ]
        ]
    },
    {
        "id": "4883b2b4.6db37c",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "fd04f5d9.aae618",
            "cf8a8ae2.069fb"
        ],
        "x": 695,
        "y": 40,
        "wires": [
            [
                "8d162ab0.c4a2c"
            ]
        ]
    },
    {
        "id": "b16333d4.b2ad8",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "8d162ab0.c4a2c"
            ]
        ]
    },
    {
        "id": "8d162ab0.c4a2c",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Thresholds",
        "func": "var minimum = 600;\nvar maximum = 1200;\nif(msg.topic === \"broker/connection1\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { ui_control:{seg1:28, seg2:35}},\n    { ui_control:{seg1:60, seg2:80}},\n    { ui_control:{seg1:minimum, seg2:maximum}}\n    ];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 60,
        "wires": [
            [
                "1996a4af.717da3"
            ],
            [
                "40ae2a9c.750a9c"
            ],
            [
                "96efb221.998cd"
            ]
        ]
    },
    {
        "id": "de0d5469.0f74a8",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "Set Sampleing time to 1mn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "broker/calibration3",
        "payload": "18,95,60000",
        "payloadType": "str",
        "x": 230,
        "y": 1380,
        "wires": [
            [
                "ab2c80fa.938b3"
            ]
        ]
    },
    {
        "id": "ab2c80fa.938b3",
        "type": "mqtt out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6521c3f4.820774",
        "x": 490,
        "y": 1380,
        "wires": []
    },
    {
        "id": "f454b2ab.fe9fa8",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Data format",
        "func": "msg.topic = \"radiation\";\nmsg.payload = msg.payload.radiation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "acfa7c76.e1ad3"
            ]
        ]
    },
    {
        "id": "8a30711.c9aa61",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "56adf417.f4a99c"
        ],
        "x": 855,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d7537e5.5b192",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "56adf417.f4a99c"
        ],
        "x": 875,
        "y": 380,
        "wires": []
    },
    {
        "id": "c81773b6.bb59c",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "56adf417.f4a99c"
        ],
        "x": 915,
        "y": 580,
        "wires": []
    },
    {
        "id": "56adf417.f4a99c",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "5d7537e5.5b192",
            "8a30711.c9aa61",
            "c81773b6.bb59c"
        ],
        "x": 955,
        "y": 380,
        "wires": [
            [
                "1d0fec4f.5323b4",
                "8c8256aa.2b1dd"
            ]
        ]
    },
    {
        "id": "680c19fa.ada21",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "param1",
        "func": "var param1 = {\n    temperature:parseFloat((Math.random()*50.0 + 15).toFixed(2)),\n    //temperature:10,\n    humidity:parseFloat((Math.random()*60.0 + 40).toFixed(2)),\n    airQuality:parseInt(Math.random()*1000.0+ 400)\n}\n\nmsg.payload = param1\nmsg.topic = \"iot/zone1\"\nmsg.measurement = \"param1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 1640,
        "wires": [
            [
                "95d6b9cc.9e399"
            ]
        ]
    },
    {
        "id": "a24fe0d0.5f28c8",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "param3",
        "func": "var param3 = {\n    radiation:parseInt(Math.random()*300.0+100.0),\n    airQuality:parseInt(Math.random()*1000.0+400)\n}\n\nmsg.payload = param3\nmsg.topic = \"iot/zone3\"\nmsg.measurement = \"param3\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 1560,
        "wires": [
            [
                "95d6b9cc.9e399"
            ]
        ]
    },
    {
        "id": "ff8dc7ac.b8fe2",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "param2",
        "func": "var param2 = {\n    temperature:parseFloat((Math.random()*50.0 + 15).toFixed(2)),\n    humidity:parseFloat((Math.random()*60.0 + 40).toFixed(2)),\n    airQuality:parseInt(Math.random()*1000.0+ 400)\n}\n\nmsg.payload = param2\nmsg.topic = \"iot/zone2\"\nmsg.measurement = \"param2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 1600,
        "wires": [
            [
                "44284717.2ecad8"
            ]
        ]
    },
    {
        "id": "3ef0eba5.0b9adc",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "paramThreshold",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 1180,
        "wires": [
            [],
            [
                "1d541c73.101654"
            ]
        ]
    },
    {
        "id": "469657fa.ae6d9",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "msg.data = msg.payload;\nmsg.payload = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "93374058.8fae68"
            ]
        ]
    },
    {
        "id": "93374058.8fae68",
        "type": "split",
        "z": "1b1de6ab.05b779",
        "name": "",
        "splt": "/",
        "spltType": "str",
        "arraySplt": "3",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "45cc0e1f.af56d8"
            ]
        ]
    },
    {
        "id": "45cc0e1f.af56d8",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "102710a3.c778d7"
            ]
        ]
    },
    {
        "id": "95d6b9cc.9e399",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "1e5c9d47.9a686b",
            "de052548.cbb378"
        ],
        "x": 575,
        "y": 1600,
        "wires": []
    },
    {
        "id": "1e5c9d47.9a686b",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "95d6b9cc.9e399"
        ],
        "x": 195,
        "y": 360,
        "wires": [
            [
                "a6c8bd25.10b108"
            ]
        ]
    },
    {
        "id": "c6b37d35.769a3",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "ff8dc7ac.b8fe2"
            ]
        ]
    },
    {
        "id": "ca35c7e4.2f3b9",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "1 day",
        "func": "msg.payload = 86400000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "1f1641a6.ab9aae"
            ]
        ]
    },
    {
        "id": "d4f00200.3e06b",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "param1",
        "func": "msg.payload = \"param1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "5228aa02.e9278c"
            ]
        ]
    },
    {
        "id": "fb49c9e1.28ef58",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "5mn",
        "func": "msg.payload = \"5m\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "bc5671c9.74221"
            ]
        ]
    },
    {
        "id": "f83d66bf.39ac48",
        "type": "delay",
        "z": "1b1de6ab.05b779",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 100,
        "y": 840,
        "wires": [
            [
                "fb49c9e1.28ef58",
                "d4f00200.3e06b",
                "ca35c7e4.2f3b9"
            ]
        ]
    },
    {
        "id": "dc94cb6f.92b44",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "reset",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "8f5f8495.6256b8"
            ]
        ]
    },
    {
        "id": "ecbbd25b.e4b3d8",
        "type": "csv",
        "z": "1b1de6ab.05b779",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "time,temperature,humidity,airQuality",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "77aa039d.3195d4"
            ]
        ]
    },
    {
        "id": "77aa039d.3195d4",
        "type": "file",
        "z": "1b1de6ab.05b779",
        "name": "",
        "filename": "/home/pi/csvData.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1180,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ea63897d.05a628",
        "type": "ui_date_picker",
        "z": "1b1de6ab.05b779",
        "name": "",
        "label": "From",
        "group": "1236256a.ae826b",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "from",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "3bc37f38.5e53e8",
        "type": "ui_date_picker",
        "z": "1b1de6ab.05b779",
        "name": "",
        "label": "To",
        "group": "1236256a.ae826b",
        "order": 16,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "to",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "345b0201.ec9a1e",
        "type": "mqtt out",
        "z": "1b1de6ab.05b779",
        "name": "Android data",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6521c3f4.820774",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "241aa659.f4c902",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "Set topic",
        "func": "var topic = \"\";\nswitch(msg.topic){\n    case \"iot/zone1\":\n        topic = \"broker/param1\"\n        break;\n    case \"iot/zone2\":\n        topic = \"broker/param2\"\n        break;\n    case \"iot/zone3\":\n        topic = \"broker/param3\"\n}\nmsg.topic = topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "345b0201.ec9a1e"
            ]
        ]
    },
    {
        "id": "862348a2.5684c8",
        "type": "rbe",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "241aa659.f4c902"
            ]
        ]
    },
    {
        "id": "64bf2f16.1c648",
        "type": "rbe",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "241aa659.f4c902"
            ]
        ]
    },
    {
        "id": "e2ecdcf.485d12",
        "type": "rbe",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "241aa659.f4c902"
            ]
        ]
    },
    {
        "id": "6fcec497.35a5dc",
        "type": "ui_template",
        "z": "1b1de6ab.05b779",
        "group": "1236256a.ae826b",
        "name": "get csv",
        "order": 22,
        "width": 2,
        "height": 1,
        "format": "\n<style>\n    .button{\n        font: 12px Serif;\n        text-decoration:none;\n        background-color:#0094ce;\n        color:#FFFFFF;\n        margin:0px 0px 0px 0px;\n        border-radius:0.13rem;\n        padding-left: 14px;\n        padding-top: 15px;\n        padding-bottom: 15px;\n    }\n</style>\n<a href=\"http://192.168.43.164:1880/csvData.csv\" download=\"monitored_data.csv\" class=\"button\" ng-click=\"send({payload: 'hello'})\">GET CSV</a>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 740,
        "y": 980,
        "wires": [
            [
                "ea136670.444ad"
            ]
        ]
    },
    {
        "id": "62533fc3.42d0c8",
        "type": "csv",
        "z": "1b1de6ab.05b779",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "time,airQuality,radiation",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "77aa039d.3195d4"
            ]
        ]
    },
    {
        "id": "6a0723c9.ed442c",
        "type": "ui_button",
        "z": "1b1de6ab.05b779",
        "name": "",
        "group": "1236256a.ae826b",
        "order": 21,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "save",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "71e03166.b65c5"
            ]
        ]
    },
    {
        "id": "fa2f18e0.43dc48",
        "type": "ui_toast",
        "z": "1b1de6ab.05b779",
        "position": "top right",
        "displayTime": "4",
        "highlight": "#323232",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "b628cfd4.27bb38",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "save",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "save",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 640,
        "wires": [
            [
                "91f72324.4d0d8"
            ]
        ]
    },
    {
        "id": "4eec7ea3.a56d",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "param3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "62533fc3.42d0c8"
            ],
            [
                "ecbbd25b.e4b3d8"
            ]
        ]
    },
    {
        "id": "f279c09d.3ad098",
        "type": "file",
        "z": "1b1de6ab.05b779",
        "name": "",
        "filename": "/home/pi/csvData.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 1120,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "e0f8c335.a88678",
        "type": "catch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "scope": [
            "f279c09d.3ad098"
        ],
        "uncaught": false,
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "88669b17.35d03"
            ]
        ]
    },
    {
        "id": "74217e08.cd7308",
        "type": "ui_toast",
        "z": "1b1de6ab.05b779",
        "position": "top right",
        "displayTime": "4",
        "highlight": "#323232",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1120,
        "y": 1040,
        "wires": []
    },
    {
        "id": "88669b17.35d03",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "msg.topic = \"Error - data not available\";\nmsg.payload = \"Click save button before download csv file\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 1040,
        "wires": [
            [
                "74217e08.cd7308"
            ]
        ]
    },
    {
        "id": "ea136670.444ad",
        "type": "delay",
        "z": "1b1de6ab.05b779",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 900,
        "y": 980,
        "wires": [
            [
                "f279c09d.3ad098"
            ]
        ]
    },
    {
        "id": "91f72324.4d0d8",
        "type": "switch",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 680,
        "wires": [
            [
                "4eec7ea3.a56d",
                "bb3288a6.58ed18"
            ],
            [
                "8741cd0a.fe955"
            ]
        ]
    },
    {
        "id": "bb3288a6.58ed18",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "msg.topic = \"Data saved\"\nmsg.payload = \"Click on \\\"GET CSV\\\" button to download csv file\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "fa2f18e0.43dc48"
            ]
        ]
    },
    {
        "id": "8741cd0a.fe955",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "",
        "func": "msg.topic = \"Error\"\nmsg.payload = \"Data points too small!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 620,
        "wires": [
            [
                "fa2f18e0.43dc48"
            ]
        ]
    },
    {
        "id": "bfb14928.3312d",
        "type": "mqtt in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "topic": "iot/radiation",
        "qos": "2",
        "datatype": "auto",
        "broker": "6521c3f4.820774",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "be9878dc.c5b4e"
            ]
        ]
    },
    {
        "id": "be9878dc.c5b4e",
        "type": "debug",
        "z": "1b1de6ab.05b779",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1500,
        "wires": []
    },
    {
        "id": "6efa5c2e.4db7b4",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "getRadiation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "broker/getRadiation",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "ab2c80fa.938b3"
            ]
        ]
    },
    {
        "id": "7d8796d9.353ad8",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "IOT_CONN",
        "links": [
            "c1c17f16.369cf8"
        ],
        "x": 315,
        "y": 360,
        "wires": []
    },
    {
        "id": "db341302.7608b",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "SET IOT THRESHOLD VALUES",
        "func": "var topic = \"\";\nvar payload = \"\";\nswitch(msg.topic){\n    case \"iot/connection/zone1\":\n        topic = \"broker/connection1\";\n        payload = \"600,1200\";\n        break;\n    case \"iot/connection/zone2\":\n        topic = \"broker/connection2\";\n        payload = \"600,1200\";\n        break;\n    case \"iot/connection/zone3\":\n        topic = \"broker/connection3\";\n        payload = \"600,1200\";\n        break;\n}\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 1840,
        "wires": [
            [
                "2abe3f24.5424e8",
                "34aed2c4.69b76e",
                "61f7657d.9b4d4c"
            ]
        ]
    },
    {
        "id": "2abe3f24.5424e8",
        "type": "mqtt out",
        "z": "1b1de6ab.05b779",
        "name": "Publush connection to IoT",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "6521c3f4.820774",
        "x": 780,
        "y": 1960,
        "wires": []
    },
    {
        "id": "cf8a8ae2.069fb",
        "type": "link out",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "4883b2b4.6db37c",
            "80c8a638.e5de88",
            "a428e6a0.b3f9c"
        ],
        "x": 515,
        "y": 1920,
        "wires": []
    },
    {
        "id": "34aed2c4.69b76e",
        "type": "split",
        "z": "1b1de6ab.05b779",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 1920,
        "wires": [
            [
                "d5e95828.f5bcb8"
            ]
        ]
    },
    {
        "id": "d5e95828.f5bcb8",
        "type": "join",
        "z": "1b1de6ab.05b779",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 1920,
        "wires": [
            [
                "cf8a8ae2.069fb"
            ]
        ]
    },
    {
        "id": "c1c17f16.369cf8",
        "type": "link in",
        "z": "1b1de6ab.05b779",
        "name": "",
        "links": [
            "7d8796d9.353ad8"
        ],
        "x": 155,
        "y": 1840,
        "wires": [
            [
                "db341302.7608b"
            ]
        ]
    },
    {
        "id": "61f7657d.9b4d4c",
        "type": "function",
        "z": "1b1de6ab.05b779",
        "name": "SET RZERO, RLOAD, SAMPLINGTIME",
        "func": "var topic = \"\";\nvar payload = \"\";\nswitch(msg.topic){\n    case \"broker/connection1\":\n        topic = \"broker/calibration1\";\n        payload = \"19,75,5000\";\n        break;\n    case \"broker/connection2\":\n        topic = \"broker/calibration2\";\n        payload = \"18,95,5000\";\n        break;\n    case \"broker/connection3\":\n        topic = \"broker/calibration3\";\n        payload = \"18,100,5000\";\n        break;\n}\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 1840,
        "wires": [
            [
                "b4faacb1.fd62d8"
            ]
        ]
    },
    {
        "id": "b4faacb1.fd62d8",
        "type": "delay",
        "z": "1b1de6ab.05b779",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 1900,
        "wires": [
            [
                "2abe3f24.5424e8"
            ]
        ]
    },
    {
        "id": "1d0fec4f.5323b4",
        "type": "debug",
        "z": "1b1de6ab.05b779",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "44284717.2ecad8",
        "type": "json",
        "z": "1b1de6ab.05b779",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 450,
        "y": 1600,
        "wires": [
            [
                "95d6b9cc.9e399"
            ]
        ]
    },
    {
        "id": "eee5e1a7.8cd7e8",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "iot/connection/zone3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/connection/zone3",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2020,
        "wires": [
            [
                "db341302.7608b"
            ]
        ]
    },
    {
        "id": "ebcc97ad.a9734",
        "type": "inject",
        "z": "1b1de6ab.05b779",
        "name": "iot/connection/zone1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/connection/zone1",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1980,
        "wires": [
            [
                "db341302.7608b"
            ]
        ]
    },
    {
        "id": "6521c3f4.820774",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "703fa4a0.405964",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "iotDB",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "1236256a.ae826b",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard",
        "tab": "f05f02e6.da4e28",
        "order": 2,
        "disp": false,
        "width": 25,
        "collapse": false
    },
    {
        "id": "f05f02e6.da4e28",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard - Environmental and radiation monitoring - INSTN-Madagascar",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]