ESP 8266 Arduino codes/Nodered/EnvMonFlow0.json
[{"id":"56e8bf55.c5916","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"107f34dc.ff347b","type":"mqtt in","z":"56e8bf55.c5916","name":"IoT data","topic":"iot/#","qos":"0","datatype":"auto","broker":"266abd73.8c9c82","x":120,"y":240,"wires":[["fe6cdf6f.7af948","90b84b6b.cb7418"]]},{"id":"d7a02644.bcee08","type":"json","z":"56e8bf55.c5916","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":120,"wires":[["3972dcc6.83d8bc","9a0afa85.d6fe98"]]},{"id":"3972dcc6.83d8bc","type":"function","z":"56e8bf55.c5916","name":"Graph preparation","func":"return [\n    {topic:\"temperaure\", payload:msg.payload.temperature}, \n    {topic:\"humidity\", payload:msg.payload.humidity}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];","outputs":3,"noerr":0,"x":890,"y":100,"wires":[["eb0ef2d0.9e3018"],["77adf120.3429f8"],["32d17677.b16f1a"]],"outputLabels":["temperaure","humidity","airQuality"],"icon":"node-red/switch.svg"},{"id":"9a0afa85.d6fe98","type":"join","z":"56e8bf55.c5916","name":"Aggragate","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"15","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":180,"wires":[["7bb337c1.0a7498"]]},{"id":"7bb337c1.0a7498","type":"function","z":"56e8bf55.c5916","name":"Mean","func":"var data = msg.payload;\nvar temp = 0.0\nvar hum = 0.0\nvar airQ = 0.0\nfor(var i = 0; i<data.length; i++){\n    temp+=data[i].temperature;\n    hum+=data[i].humidity;\n    airQ+=data[i].airQuality;\n}\ntemp = temp/data.length\nhum = hum/data.length\nairQ = airQ/data.length\nmsg.payload = {\n    temperature:temp,\n    humidity:hum,\n    airQuality:airQ\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["d311730a.f1181"]]},{"id":"83946e69.13e008","type":"influxdb out","z":"56e8bf55.c5916","influxdb":"c9fc6a91.8a0a3","name":"DB","measurement":"param1","precision":"","retentionPolicy":"","x":1170,"y":380,"wires":[]},{"id":"fe6cdf6f.7af948","type":"switch","z":"56e8bf55.c5916","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"iot/zone1","vt":"str"},{"t":"eq","v":"iot/zone2","vt":"str"},{"t":"eq","v":"iot/zone3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":240,"wires":[["d7a02644.bcee08"],["36c67529.2ba572"],["e2b4b231.81cb78"],["8a8ac05d.bcab28"]]},{"id":"32d17677.b16f1a","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":1,"width":3,"height":2,"gtype":"gage","title":"Air quality","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"{{min}}","seg2":"{{max}}","x":1181,"y":120,"wires":[]},{"id":"77adf120.3429f8","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":3,"width":3,"height":2,"gtype":"gage","title":"Humidity","label":"%R","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"{{min}}","seg2":"{{max}}","x":1170,"y":80,"wires":[]},{"id":"eb0ef2d0.9e3018","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":2,"width":3,"height":2,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"{{msg.payload}}","seg2":"16","x":1180,"y":40,"wires":[]},{"id":"36c67529.2ba572","type":"json","z":"56e8bf55.c5916","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":280,"wires":[["a7bd1c20.065aa","2c5119ca.1d6986"]]},{"id":"a7bd1c20.065aa","type":"function","z":"56e8bf55.c5916","name":"Graph preparation","func":"return [\n    {topic:\"temperaure\", payload:msg.payload.temperature}, \n    {topic:\"humidity\", payload:msg.payload.humidity}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];","outputs":3,"noerr":0,"x":890,"y":300,"wires":[["127db23c.36d1ee"],["159e6bae.e8dcb4"],["93c51b1d.8fab88"]],"outputLabels":["temperaure","humidity","airQuality"],"icon":"node-red/switch.svg"},{"id":"2c5119ca.1d6986","type":"join","z":"56e8bf55.c5916","name":"Aggragate","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"15","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":380,"wires":[["b4a432b8.ca63b8"]]},{"id":"b4a432b8.ca63b8","type":"function","z":"56e8bf55.c5916","name":"Mean","func":"var data = msg.payload;\nvar temp = 0.0\nvar hum = 0.0\nvar airQ = 0.0\nfor(var i = 0; i<data.length; i++){\n    temp+=data[i].temperature;\n    hum+=data[i].humidity;\n    airQ+=data[i].airQuality;\n}\ntemp = temp/data.length\nhum = hum/data.length\nairQ = airQ/data.length\nmsg.payload = {\n    temperature:temp,\n    humidity:hum,\n    airQuality:airQ\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":380,"wires":[["b341c1bb.d6943"]]},{"id":"93c51b1d.8fab88","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":4,"width":3,"height":2,"gtype":"gage","title":"Air quality","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":300,"wires":[]},{"id":"159e6bae.e8dcb4","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":6,"width":3,"height":2,"gtype":"gage","title":"Humidity","label":"%R","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1179,"y":260,"wires":[]},{"id":"127db23c.36d1ee","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":5,"width":3,"height":2,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1189,"y":220,"wires":[]},{"id":"e2b4b231.81cb78","type":"json","z":"56e8bf55.c5916","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":520,"wires":[["520421e5.2f3588","93c89774.4f12e"]]},{"id":"520421e5.2f3588","type":"function","z":"56e8bf55.c5916","name":"Graph preparation","func":"return [\n    {topic:\"radiation\", payload:msg.payload.radiation}, \n    {topic:\"airQuality\", payload:msg.payload.airQuality}\n    ];","outputs":2,"noerr":0,"x":810,"y":520,"wires":[[],["1e64ff27.e2e559"]],"outputLabels":["radiation","airQuality"],"icon":"node-red/switch.svg"},{"id":"93c89774.4f12e","type":"join","z":"56e8bf55.c5916","name":"Aggragate","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"15","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":580,"wires":[["357e6005.3e9e58"]]},{"id":"357e6005.3e9e58","type":"function","z":"56e8bf55.c5916","name":"Mean","func":"var data = msg.payload;\nvar rad = 0.0\nvar airQ = 0.0\nfor(var i = 0; i<data.length; i++){\n    rad+=data[i].radiation;\n    airQ+=data[i].airQuality;\n}\nrad = rad/data.length\nairQ = airQ/data.length\nmsg.payload = {\n    radiation:parseInt(rad),\n    airQuality:parseInt(airQ)\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":580,"wires":[["f2f25e0a.805228","925d24ce.836248"]]},{"id":"1e64ff27.e2e559","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":7,"width":3,"height":2,"gtype":"gage","title":"Air quality","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":520,"wires":[]},{"id":"c627cced.8a805","type":"ui_gauge","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":8,"width":3,"height":2,"gtype":"gage","title":"Radiation","label":"°C","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":480,"wires":[]},{"id":"afe1e8e6.257c08","type":"function","z":"56e8bf55.c5916","name":"Thresholds","func":"var minimum = 200;\nvar maximum = 400;\nif(msg.topic === \"broker/connection3\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { payload:\"\", ui_control:{min:minimum, max:maximum}},\n    { payload:\"\", ui_control:{min:450, max:800}}\n    ];\n","outputs":2,"noerr":0,"x":930,"y":440,"wires":[["c627cced.8a805"],["1e64ff27.e2e559"]]},{"id":"7095894d.5db37","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":710,"y":460,"wires":[["afe1e8e6.257c08"]]},{"id":"3ac372c3.3cece6","type":"ui_chart","z":"56e8bf55.c5916","name":"","group":"4f0959b9.1cc808","order":9,"width":24,"height":9,"label":"{{msg.date}}","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"monotone","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#8f33a4","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1330,"y":840,"wires":[[]]},{"id":"9c265df1.645b7","type":"ui_button","z":"56e8bf55.c5916","name":"Réinitialisation","group":"4f0959b9.1cc808","order":18,"width":3,"height":1,"passthru":true,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset","x":280,"y":900,"wires":[["75498ca.4b63974"]]},{"id":"96060124.d54b7","type":"ui_button","z":"56e8bf55.c5916","name":"Navigation en avant","group":"4f0959b9.1cc808","order":16,"width":3,"height":1,"passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"next","x":300,"y":820,"wires":[["75498ca.4b63974"]]},{"id":"34e0449f.7c4be4","type":"ui_button","z":"56e8bf55.c5916","name":"Navigation en arrière","group":"4f0959b9.1cc808","order":14,"width":3,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"back","x":300,"y":860,"wires":[["75498ca.4b63974"]]},{"id":"2edbb4e8.20f944","type":"ui_dropdown","z":"56e8bf55.c5916","name":"Selection du type de navigation","label":"","tooltip":"","place":"Navigation [Select option]","group":"4f0959b9.1cc808","order":12,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Navigate by 1h","value":3600000,"type":"num"},{"label":"Navigate by 2h","value":7200000,"type":"num"},{"label":"Navigate by 6h","value":21600000,"type":"num"},{"label":"Navigate by 12h","value":43200000,"type":"num"},{"label":"Navigate by 1 day","value":86400000,"type":"num"},{"label":"Navigate by 1 week","value":604800000,"type":"num"},{"label":"Navigate by 1 month","value":2592000000,"type":"num"}],"payload":"","topic":"navigationType","x":310,"y":700,"wires":[["75498ca.4b63974"]]},{"id":"45363543.ff442c","type":"ui_dropdown","z":"56e8bf55.c5916","name":"Selection du type de regroupement","label":"","tooltip":"","place":"Group by [Select option]","group":"4f0959b9.1cc808","order":11,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Group by 1mn","value":"1m","type":"str"},{"label":"Group by 5mn","value":"5m","type":"str"},{"label":"Group by 10mn","value":"10m","type":"str"},{"label":"Group by 15mn","value":"15m","type":"str"},{"label":"Group by 30mn","value":"30m","type":"str"},{"label":"Group by 1h","value":"1h","type":"str"}],"payload":"","topic":"groupType","x":330,"y":780,"wires":[["75498ca.4b63974"]]},{"id":"48b4aa99.f06f34","type":"ui_dropdown","z":"56e8bf55.c5916","name":"Selection du type de paramètres","label":"","tooltip":"","place":"Data type [Select option]","group":"4f0959b9.1cc808","order":10,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Zone 1","value":"param1","type":"str"},{"label":"Zone 2","value":"param2","type":"str"},{"label":"Zone 3","value":"param3","type":"str"}],"payload":"","topic":"paramType","x":320,"y":740,"wires":[["75498ca.4b63974"]]},{"id":"75498ca.4b63974","type":"function","z":"56e8bf55.c5916","name":"Mise en form de la requête","func":"var hour = 60*60*1000;\nvar day = 24*hour;\nvar dataType = \"\";\nvar groupBy = \"\";\nvar navigateBy = 0;\nvar fromDate = 0;\nvar toDate = 0;\n\nvar title = \"\";\n\ndataType = context.get(\"dataType\");\nif (dataType===undefined) {\n    dataType = \"param1\";\n    context.set(\"dataType\",dataType);\n}\n\ngroupBy = context.get(\"groupBy\");\nif (groupBy===undefined) {\n    groupBy = \"1m\";\n    context.set(\"groupBy\",groupBy);\n}\n\nnavigateBy = context.get(\"navigateBy\")\nif (navigateBy===undefined) {\n    navigateBy = 2*hour;\n    context.set(\"navigateBy\",navigateBy);\n}\n\nfromDate = context.get(\"fromDate\");\nif (fromDate===undefined) {\n    fromDate = new Date().getTime() - 2*hour\n    context.set(\"fromDate\",fromDate);\n}\n\ntoDate = context.get(\"toDate\");\nif (toDate===undefined) {\n    toDate = new Date().getTime();\n    context.set(\"toDate\",toDate);\n}\n\nswitch(msg.topic){\n    case \"paramType\":\n        dataType = msg.payload;\n        context.set(\"dataType\",dataType);\n    break;\n    case \"groupType\":\n        groupBy = msg.payload;\n        context.set(\"groupBy\",groupBy);\n    break;\n    case \"navigationType\":\n        navigateBy = msg.payload;\n        context.set(\"navigateBy\",navigateBy);\n    break;\n    case \"back\":\n        toDate = fromDate;\n        context.set(\"toDate\",toDate);\n        fromDate = Number(toDate) - Number(navigateBy);\n        context.set(\"fromDate\",fromDate);\n    break;\n    case \"next\":\n        fromDate = toDate;\n        context.set(\"fromDate\", fromDate);\n        toDate = Number(fromDate) + Number(navigateBy);\n        context.set(\"toDate\", toDate);\n    break;\n    case \"reset\":\n        fromDate = new Date().getTime() - 2*hour;\n        context.set(\"fromDate\",fromDate);\n        toDate = new Date().getTime();\n        context.set(\"toDate\",toDate);\n    break;\n}\n\nvar dt = \"\";\nswitch(dataType){\n    case \"param1\": dt = \"Zone 1\";\n    break;\n    case \"param2\": dt = \"Zone 2\";\n    break;\n    case \"param3\": dt = \"Zone 3\";\n}\n\n var d = new Date();\n    d.setTime(fromDate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    title = \"Graph of \"+ dt+ \" from \" + hh +\":\" +mmm +\"  \"+ dd + \"/\" + mm + \"/\" + yyyy + \"  -  \";\n    d.setTime(toDate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    title = title + \"To \" + hh +\":\" +mmm +\"  \"+ dd + \"/\" + mm + \"/\" + yyyy;\n\nnode.status({fill:\"yellow\",shape:\"ring\",text:title + \" navigateBy: \" + navigateBy + \" groupBy: \" + groupBy + \" dataType: \" + dataType});\n\nmsg.topic = dataType;\n\nmsg.title = title;\n\nmsg.query = \"select mean(*) from \" + dataType + \" where time>=\"+fromDate+\"ms and time<\"+toDate+\"ms group by time(\" + groupBy+ \") fill(none)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":920,"wires":[["d04344e.8317c38"]]},{"id":"9c180ef5.c16d9","type":"debug","z":"56e8bf55.c5916","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":1160,"wires":[]},{"id":"a2cdcb17.460fb","type":"influxdb in","z":"56e8bf55.c5916","influxdb":"c9fc6a91.8a0a3","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":480,"y":1140,"wires":[["5e1a61ec.d00c3"]]},{"id":"d5961645.35937","type":"mqtt in","z":"56e8bf55.c5916","name":"","topic":"android/#","qos":"0","datatype":"auto","broker":"266abd73.8c9c82","x":80,"y":1060,"wires":[["e6aff842.0a9bb8","af79bd5e.77a3c8"]]},{"id":"b7b5a4a8.861788","type":"function","z":"56e8bf55.c5916","name":"Mise en form de la requête","func":"var androidID = msg.payload[1];\n\nvar fromDate = new Date(msg.data[3], Number(msg.data[2]) - 1, msg.data[1], msg.data[0]).getTime()\nvar toDate = new Date(msg.data[7], Number(msg.data[6]) - 1, msg.data[5], msg.data[4]).getTime()\nvar dataType = \"\"\nvar topic1 = \"android/\"+androidID+\"/params1\";\nvar topic2 = \"android/\"+androidID+\"/params2\";\nvar topic3 = \"android/\"+androidID+\"/params3\";\nswitch(msg.topic){\n    case topic1:{\n        dataType = \"param1\"\n    }\n    break\n    case topic2:{\n        dataType = \"param2\"\n    }\n    break\n    case topic3:{\n        dataType = \"param3\"\n    }\n    break\n}\n\nmsg.androidID = androidID;\n\nmsg.query = \"select mean(*) from \" + dataType + \" where time>=\"+fromDate+\"ms and time<\"+toDate+\"ms group by time(\" + msg.data[8]+ \") fill(none)\" \nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1060,"wires":[["a2cdcb17.460fb"]]},{"id":"f437881d.9d4168","type":"mqtt out","z":"56e8bf55.c5916","name":"","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":1050,"y":1100,"wires":[]},{"id":"d04344e.8317c38","type":"influxdb in","z":"56e8bf55.c5916","influxdb":"c9fc6a91.8a0a3","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":660,"y":860,"wires":[["1278dd7.cf7fd23"]]},{"id":"8a8ac05d.bcab28","type":"function","z":"56e8bf55.c5916","name":"IoT threshold settings","func":"var topic = \"\";\nvar payload = \"\";\nswitch(msg.topic){\n    case \"iot/connection1\":\n        topic = \"broker/connection1\";\n        payload = \"600,1200\";\n        break;\n    case \"iot/connection2\":\n        topic = \"broker/connection2\";\n        payload = \"600,1200\";\n        break;\n    case \"iot/connection3\":\n        topic = \"broker/connection3\";\n        payload = \"80,150\";\n        break;\n}\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":360,"wires":[["5a97ed52.7498cc","e7c0ca9a.ac06f"]]},{"id":"5a97ed52.7498cc","type":"mqtt out","z":"56e8bf55.c5916","name":"IoT Connection","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":440,"y":380,"wires":[]},{"id":"9359546c.aae7d","type":"inject","z":"56e8bf55.c5916","name":"","topic":"android/params1","payload":"15/8/8/2020/16/8/8/2020/1m","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1160,"wires":[["bb858deb.13962"]]},{"id":"5e1a61ec.d00c3","type":"function","z":"56e8bf55.c5916","name":"Change time format","func":"\nvar data = [];\nvar androidID = msg.androidID;\n\nswitch(msg.topic){\n    case \"android/\"+androidID+\"/params1\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params1\";\n    }\n    break\n    case \"android/\"+androidID+\"/params2\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params2\";\n    }\n    break\n    case \"android/\"+androidID+\"/params3\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                radiation : msg.payload[i].mean_radiation,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n        msg.topic = \"broker/\" + androidID + \"/params3\";\n    }\n    break\n}\n\nif(data.length===0) msg.payload = \"empty\"\nelse msg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1140,"wires":[["d01126f5.3751f8"]]},{"id":"bb858deb.13962","type":"split","z":"56e8bf55.c5916","name":"","splt":"/","spltType":"str","arraySplt":"9","arraySpltType":"len","stream":false,"addname":"","x":330,"y":1040,"wires":[["ec29152c.97c0d"]]},{"id":"ec29152c.97c0d","type":"join","z":"56e8bf55.c5916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":1080,"wires":[["b0b4cb3f.26d09"]]},{"id":"d01126f5.3751f8","type":"switch","z":"56e8bf55.c5916","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"empty","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":1140,"wires":[["f437881d.9d4168"],["9c180ef5.c16d9"]]},{"id":"2d6891d9.a89106","type":"debug","z":"56e8bf55.c5916","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":800,"wires":[]},{"id":"1278dd7.cf7fd23","type":"function","z":"56e8bf55.c5916","name":"Change time format","func":"\nvar data = []\n\nswitch(msg.topic){\n    case \"param1\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n    case \"param2\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                temperature : msg.payload[i].mean_temperature,\n                humidity : msg.payload[i].mean_humidity,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n    case \"param3\":{\n        for(i=0; i<msg.payload.length; i++){\n            data[i] = {\n                time : (new Date(msg.payload[i].time)).getTime(),\n                radiation : msg.payload[i].mean_radiation,\n                airQuality : msg.payload[i].mean_airQuality\n            }\n        }\n    }\n    break\n}\n\nif(data.length===0) msg.payload = \"empty\"\nelse msg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":800,"wires":[["2ffde7ed.bb4628"]]},{"id":"2ffde7ed.bb4628","type":"switch","z":"56e8bf55.c5916","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"empty","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":900,"wires":[[],["2a96ceef.357172"]]},{"id":"2a96ceef.357172","type":"function","z":"56e8bf55.c5916","name":"","func":"var msg2 = [];\n\nvar temperature = [];\nvar humidity = [];\nvar airQuality = [];\nvar radiation = [];\nif(msg.topic === \"param3\"){\n    for (var i=0; i<msg.payload.length; i++) {\n        radiation.push([msg.payload[i].time, msg.payload[i].radiation]);\n        airQuality.push([msg.payload[i].time, msg.payload[i].airQuality]);\n    }\n    msg2.push({ key: \"Air quality (ppm)\", values : airQuality});\n    msg2.push({ key: \"Radiation (cpm)\", values : radiation});\n}\nelse{\n    for (var j=0; j<msg.payload.length; j++) {\n        temperature.push([msg.payload[j].time, msg.payload[j].temperature]);\n        humidity.push([msg.payload[j].time, msg.payload[j].humidity]);\n        airQuality.push([msg.payload[j].time, msg.payload[j].airQuality]);\n    }\n    msg2.push({ key: \"Air quality (ppm)\", values : airQuality});\n    msg2.push({ key: \"Temperature (°C)\", values : temperature});\n    msg2.push({ key: \"Humidity (%H)\", values : humidity});\n}\n\nmsg.payload=msg2;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":860,"wires":[["3ac372c3.3cece6","2d6891d9.a89106","a1a2483c.dbb3d"]]},{"id":"55ac2f87.b991d","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"7200000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":700,"wires":[["2edbb4e8.20f944"]]},{"id":"e5b54529.a115f8","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"param1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":100,"y":740,"wires":[["48b4aa99.f06f34"]]},{"id":"4aa0a0e3.e04e48","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"5m","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.2","x":110,"y":780,"wires":[["45363543.ff442c"]]},{"id":"a1a2483c.dbb3d","type":"function","z":"56e8bf55.c5916","name":"","func":"msg.date = msg.title;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":820,"wires":[["3ac372c3.3cece6"]]},{"id":"56602ceb.8fdb04","type":"link in","z":"56e8bf55.c5916","name":"","links":["57e6970.bcbe168"],"x":800,"y":420,"wires":[["afe1e8e6.257c08"]]},{"id":"57e6970.bcbe168","type":"link out","z":"56e8bf55.c5916","name":"","links":["23d43ef2.8cf1ba","56602ceb.8fdb04","9f3e87a7.025c5"],"x":375,"y":480,"wires":[]},{"id":"e7c0ca9a.ac06f","type":"split","z":"56e8bf55.c5916","name":"","splt":",","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":130,"y":440,"wires":[["d1bbeba7.481d3"]]},{"id":"d1bbeba7.481d3","type":"join","z":"56e8bf55.c5916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":480,"wires":[["57e6970.bcbe168"]]},{"id":"22a417a.7ba9068","type":"inject","z":"56e8bf55.c5916","name":"Calibration zone 1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1400,"wires":[["1a9d325d.96a676"]]},{"id":"1a9d325d.96a676","type":"function","z":"56e8bf55.c5916","name":"","func":"\nmsg.topic = \"broker/calibration1\";\nmsg.payload = \"18,95\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1400,"wires":[["eb6e5924.28fdd8"]]},{"id":"eb6e5924.28fdd8","type":"mqtt out","z":"56e8bf55.c5916","name":"","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":510,"y":1400,"wires":[]},{"id":"9f3e87a7.025c5","type":"link in","z":"56e8bf55.c5916","name":"","links":["57e6970.bcbe168"],"x":835,"y":220,"wires":[["24a5ce79.2dd0e2"]]},{"id":"24a5ce79.2dd0e2","type":"function","z":"56e8bf55.c5916","name":"Thresholds","func":"var minimum = 800;\nvar maximum = 1200;\nif(msg.topic === \"broker/connection2\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { payload:\"\", ui_control:{min:20, max:60}},\n    { payload:\"\", ui_control:{min:40, max:100}},\n    { payload:\"\", ui_control:{min:minimum, max:maximum}}\n    ];\n","outputs":3,"noerr":0,"x":990,"y":240,"wires":[["127db23c.36d1ee"],["159e6bae.e8dcb4"],["93c51b1d.8fab88"]]},{"id":"ae483c99.97a138","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":710,"y":240,"wires":[["24a5ce79.2dd0e2"]]},{"id":"23d43ef2.8cf1ba","type":"link in","z":"56e8bf55.c5916","name":"","links":["57e6970.bcbe168"],"x":835,"y":20,"wires":[["87162bc0.84d0f"]]},{"id":"3d72aaf0.c3663e","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":710,"y":40,"wires":[["87162bc0.84d0f"]]},{"id":"87162bc0.84d0f","type":"function","z":"56e8bf55.c5916","name":"Thresholds","func":"var minimum = 1000;\nvar maximum = 1500;\nif(msg.topic === \"broker/connection1\"){\n    minimum = Number(msg.payload[0]);\n    maximum = Number(msg.payload[1]);\n}\n\nreturn [\n    { ui_control:{seg1:28, seg2:35}},\n    { ui_control:{seg1:60, seg2:80}},\n    { ui_control:{seg1:minimum, seg2:maximum}}\n    ];\n","outputs":3,"noerr":0,"x":970,"y":40,"wires":[["eb0ef2d0.9e3018"],["77adf120.3429f8"],["32d17677.b16f1a"]]},{"id":"ada64683.3f6908","type":"inject","z":"56e8bf55.c5916","name":"Calibration zone 2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1440,"wires":[["68521162.41c268"]]},{"id":"68521162.41c268","type":"function","z":"56e8bf55.c5916","name":"","func":"\nmsg.topic = \"broker/calibration2\";\nmsg.payload = \"18,95\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1440,"wires":[["7db3a76c.211a9"]]},{"id":"7db3a76c.211a9","type":"mqtt out","z":"56e8bf55.c5916","name":"","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":510,"y":1440,"wires":[]},{"id":"bdbc1610.67ccc8","type":"inject","z":"56e8bf55.c5916","name":"Calibration zone 3","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1480,"wires":[["b7d8da32.8961d"]]},{"id":"b7d8da32.8961d","type":"function","z":"56e8bf55.c5916","name":"","func":"\nmsg.topic = \"broker/calibration3\";\nmsg.payload = \"18,95\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1480,"wires":[["f361967.4c206e8"]]},{"id":"f361967.4c206e8","type":"mqtt out","z":"56e8bf55.c5916","name":"","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":510,"y":1480,"wires":[]},{"id":"eddead4.819715","type":"mqtt out","z":"56e8bf55.c5916","name":"Android data","topic":"","qos":"","retain":"","broker":"266abd73.8c9c82","x":370,"y":60,"wires":[]},{"id":"90b84b6b.cb7418","type":"function","z":"56e8bf55.c5916","name":"Set topic","func":"var topic = \"\";\nswitch(msg.topic){\n    case \"iot/zone1\":\n        topic = \"broker/param1\"\n        break;\n    case \"iot/zone2\":\n        topic = \"broker/param2\"\n        break;\n    case \"iot/zone3\":\n        topic = \"broker/param3\"\n}\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["eddead4.819715"]]},{"id":"f2f25e0a.805228","type":"function","z":"56e8bf55.c5916","name":"Data format","func":"msg.topic = \"radiation\";\nmsg.payload = msg.payload.radiation;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":480,"wires":[["c627cced.8a805"]]},{"id":"d311730a.f1181","type":"link out","z":"56e8bf55.c5916","name":"","links":["da8b4014.fc01"],"x":995,"y":180,"wires":[]},{"id":"b341c1bb.d6943","type":"link out","z":"56e8bf55.c5916","name":"","links":["da8b4014.fc01"],"x":995,"y":380,"wires":[]},{"id":"925d24ce.836248","type":"link out","z":"56e8bf55.c5916","name":"","links":["da8b4014.fc01"],"x":995,"y":580,"wires":[]},{"id":"da8b4014.fc01","type":"link in","z":"56e8bf55.c5916","name":"","links":["b341c1bb.d6943","d311730a.f1181","925d24ce.836248"],"x":1075,"y":380,"wires":[["83946e69.13e008"]]},{"id":"da833b83.9af76","type":"function","z":"56e8bf55.c5916","name":"param1","func":"var param1 = {\n    temperature:parseFloat((Math.random()*50.0 + 15).toFixed(2)),\n    humidity:parseFloat((Math.random()*60.0 + 40).toFixed(2)),\n    airQuality:parseInt(Math.random()*1000.0+ 400)\n}\n\nmsg.payload = param1\nmsg.topic = \"iot/zone1\"\nmsg.measurement = \"param1\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1760,"wires":[["c408c082.1ddc7"]]},{"id":"e6a90d58.3b2928","type":"inject","z":"56e8bf55.c5916","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1720,"wires":[["da833b83.9af76","fe5b53dc.cf0fa8","4b2c8f33.aa90c8"]]},{"id":"4b2c8f33.aa90c8","type":"function","z":"56e8bf55.c5916","name":"param3","func":"var param3 = {\n    radiation:parseInt(Math.random()*300.0+100.0),\n    airQuality:parseInt(Math.random()*1000.0+400)\n}\n\nmsg.payload = param3\nmsg.topic = \"iot/zone3\"\nmsg.measurement = \"param3\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1680,"wires":[["c408c082.1ddc7"]]},{"id":"fe5b53dc.cf0fa8","type":"function","z":"56e8bf55.c5916","name":"param2","func":"var param2 = {\n    temperature:parseFloat((Math.random()*50.0 + 15).toFixed(2)),\n    humidity:parseFloat((Math.random()*60.0 + 40).toFixed(2)),\n    airQuality:parseInt(Math.random()*1000.0+ 400)\n}\n\nmsg.payload = param2\nmsg.topic = \"iot/zone2\"\nmsg.measurement = \"param2\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1720,"wires":[["c408c082.1ddc7"]]},{"id":"191266e2.9e36a9","type":"influxdb out","z":"56e8bf55.c5916","influxdb":"c9fc6a91.8a0a3","name":"DB","measurement":"","precision":"","retentionPolicy":"","x":630,"y":1720,"wires":[]},{"id":"e6aff842.0a9bb8","type":"switch","z":"56e8bf55.c5916","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"paramThreshold","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1100,"wires":[[],["bb858deb.13962"]]},{"id":"af79bd5e.77a3c8","type":"debug","z":"56e8bf55.c5916","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1200,"wires":[]},{"id":"b0b4cb3f.26d09","type":"function","z":"56e8bf55.c5916","name":"","func":"msg.data = msg.payload;\nmsg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1000,"wires":[["96f96216.3136"]]},{"id":"96f96216.3136","type":"split","z":"56e8bf55.c5916","name":"","splt":"/","spltType":"str","arraySplt":"3","arraySpltType":"len","stream":false,"addname":"","x":470,"y":1000,"wires":[["3c9f7643.ebb12a"]]},{"id":"3c9f7643.ebb12a","type":"join","z":"56e8bf55.c5916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1000,"wires":[["b7b5a4a8.861788"]]},{"id":"c408c082.1ddc7","type":"link out","z":"56e8bf55.c5916","name":"","links":["cfdc9380.54ab3"],"x":575,"y":1660,"wires":[]},{"id":"cfdc9380.54ab3","type":"link in","z":"56e8bf55.c5916","name":"","links":["c408c082.1ddc7"],"x":215,"y":280,"wires":[["fe6cdf6f.7af948","90b84b6b.cb7418"]]},{"id":"266abd73.8c9c82","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.223","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c9fc6a91.8a0a3","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iotDB","name":"","usetls":false,"tls":""},{"id":"4f0959b9.1cc808","type":"ui_group","z":"","name":"Dashboard","tab":"f0cb46e1.a2ca1","order":2,"disp":false,"width":24,"collapse":false},{"id":"f0cb46e1.a2ca1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]